$min-widths: (
  small: 0px,
  medium: 481px,
  large: 801px,
);

$max-widths: (
  small: 480px,
  medium: 800px,
  large: 1200px,
);

@mixin breakpoint($breakpoint) {
  $smaller-than-index: str-index($breakpoint, '-and-smaller');

  @if ($smaller-than-index != null) {
    $breakpoint-size: str-slice($breakpoint, 1, $smaller-than-index - 1);
    $max-width: map-get($max-widths, $breakpoint-size);

    @media (max-width: $max-width) {
      @content;
    }
  }

  $larger-than-index: str-index($breakpoint, '-and-larger');

  @if ($larger-than-index != null) {
    $breakpoint-size: str-slice($breakpoint, 1, $larger-than-index - 1);
    $min-width: map-get($min-widths, $breakpoint-size);

    @media (min-width: $min-width) {
      @content;
    }
  }

  $min-width: map-get($min-widths, $breakpoint);
  $max-width: map-get($max-widths, $breakpoint);

  @media (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}
