@import '~styles/breakpoints';
@import '~styles/fonts';

.Points {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
}

.PointsContainer {
  padding: 2rem 1rem;
  text-align: center;

  @include breakpoint(small) {
    padding: 1rem;
  }

  &.MaxedOut {
    >.Spent,
    >.Label {
      color: $color__text--highlight;
    }
  }
}

.Spent {
  color: $color__text--primary;
  font-size: 1.4rem;
}

.Label {
  color: $color__text--subdued;
  font-size: 1rem;
}

.Share {
  padding: 0 2rem;
  width: 100%;

  > textarea {
    resize: none;
    width: 100%;
  }

  > input {
    width: 100%;
  }
}
