@import '~styles/fonts';

$color__talent: #4f4f4f;
$color__talent--highlight: $color__text--highlight;
$color__talent--hover: #5e9970;
$color__talent--selected: #6da6e1;
$color__talent--unselect: #ee4488;

.Talent {
  background: url('~assets/talent-icons-sprite.png');
  background-position: 0 100%;
  background-size: 800%;
  border: 4px solid $color__talent;
  flex-shrink: 0;
  height: 4rem;
  width: 4rem;

  &.Selected {
    background-position-y: 0;
    border-color: $color__talent--selected;

    &.MaxedOut {
      border-color: $color__talent--highlight;
    }
  }

  &:hover {
    border-color: $color__talent--hover;
    cursor: pointer;

    &.MaxedOut {
      border-color: $color__talent;
      cursor: not-allowed;
    }

    &.Selected {
      border-color: $color__talent--unselect;
      cursor: pointer;
    }
  }
}

.Boat {
  background-position-x: -400%;
}

.Cake {
  background-position-x: -200%;
}

.Chevron {
  background-position-x: 0;
}

.Crown {
  background-position-x: -300%;
}

.Cutlery {
  background-position-x: -100%;
}

.Lightning {
  background-position-x: -600%;
}

.Skull {
  background-position-x: -700%;
}

.Snorkel {
  background-position-x: -500%;
}
