@import '~styles/breakpoints';
@import '~styles/fonts';

$background__talent-path: #1c1e1f;
$background__talent-path--selected: #303133;
$border__talent-path: 1px solid #0d1116;
$border__talent-path--selected: 1px solid #3b3e40;

.TalentTree {
  color: $color__text--primary;
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 1rem;
  grid-template-columns: min-content 1fr;
  height: 100%;
  text-transform: uppercase;
  width: 100%;

  @include breakpoint(medium) {
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    grid-template-rows: min-content 1fr;
  }

  @include breakpoint(small) {
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    grid-gap: 0;
    grid-template-columns: 1fr;
    margin-top: 1rem;
  }
}

.TalentName {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include breakpoint(medium-and-smaller) {
    align-items: flex-end;
    justify-content: center;
    margin-right: 0;
    text-align: center;
  }
}

.TalentGroup {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2rem 1rem;
  width: 100%;

  @include breakpoint(medium-and-smaller) {
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
  }

  @include breakpoint(medium) {
    padding: 1rem;
  }

  @include breakpoint(small) {
    padding: 2rem 1rem;
  }
}

.TalentPath {
  background: $background__talent-path;
  border-bottom: $border__talent-path;
  border-top: $border__talent-path;
  flex: 1;
  min-height: 1.2rem;
  min-width: 1.2rem;

  &.Selected {
    background: $background__talent-path--selected;
    border-bottom: $border__talent-path--selected;
    border-top: $border__talent-path--selected;
  }

  &:first-of-type {
    display: none;
  }
}
